* {
    margin: 0;
}
.car-background {
    position: relative;
    text-align: center;
  }
  .car-background h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  .car-background p {
    color: white;
    text-align: center;
  }
  .navbar {
    position: relative;
    z-index: 1;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
  
  .video-source {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .video-source video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .navbar .container-fluid img {
    margin-right: 20px;
  }


  .collapse .nav-item .nav-link {
    color: white;
  }
  .collapse .nav-item .nav-link:hover {
    color: white;
    text-decoration: underline;
  }
  .content {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.124);
    margin: 0;
    z-index: -1px;
  }
  .button-bottom {
    text-align: center;
   
  }
  .button-bottom button {
    background-color: rgba(0, 0, 0, 0.092);
    color: white;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    border-radius: 100px;
  }
  .fa-chevron-down {
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
  }
  .d-flex button {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.238);
    color: white;
    border-radius: 100px;
    font-weight: bold;
  }
  .d-flex input {
     background-color: rgba(0, 0, 0, 0.249);
     color: white;
  }
  .content-display {
    display: flex;
    justify-content: center;
  }
  .content-display .content {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    
  }

/* Sink */
.hvr-sink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }